.govuk-header__navigation-item .active {
	color: #1d8feb;
}
.govuk-header__link:focus {
	color: #0b0c0c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media all and (max-width: 770px) {
	.govuk-header__container {
		text-align:  center;
	}
	.govuk-header__logo {
		padding-right: 0;
	}
	#weather .govuk-button {
		width: auto;
	}
}